{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2016",
    "baseUrl": "./",
    "transform": {
      "decoratorMetadata": true,
      "react": {
        "runtime": "automatic",
        "importSource": "preact"
      },
      "optimizer": {
        "globals": {
          "vars": {
            "__DEBUG__": "true"
          }
        }
      }
    },
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true,
      "tsx": true
    }
  },
  "sourceMaps": true
}
