
.appBuilderLayout {
  @apply container mx-auto;

  .appBuilderHeader {

  }

  .appContent {

    & > [role="article"] {
      @apply grow flex flex-col;

      form {
        @apply grow;

        .submitBtnSeparator {
          
        }
      }
    }
  }

  .appNotificationArea {
    @apply isolate;
  }

}

