
.skeleton {
  @apply max-w-full min-h-full;
}

.skeleton.skeleton-danim {
  @apply animate-pulse
}

.icon.icon-sm {
  @apply w-6 h-6;
}

.icon.icon-md {
  @apply w-9 h-9;
}

.icon.icon-lg {
  @apply w-12 h-12;
}

.icon.icon-xl {
  @apply w-16 h-16;
}

.icon.icon-_2xl {
  @apply w-20 h-20;
}

.icon.icon-_3xl {
  @apply w-24 h-24;
}
