.stat-counter {
  @apply flex text-base text-white font-bold my-2;

  li {
    @apply flex mr-[0.3rem] px-2 py-1 bg-primary-100
      rounded-lg items-center;

    span {
      @apply ml-2;
    }
  }

  .stat-counter__viewCount {}
  .stat-counter__shareCount {}
  .stat-counter__loveCount {}


}
