@import url(styles/tailwind.pcss);

@layer base {
  @import url(fonts/Playfair_Display.pcss);
  @import url(fonts/Inter.pcss);

  html {
    font-family: Inter, Arial, Helvetica, system-ui;
  }

  .appRouter {
    @apply dark:bg-slate-800 dark:text-white;
  }

  .appWrapper {
    @apply container mx-auto;
  }
}
